/* ------------------

CSS TABLE OF CONTENTS

# GLOBAL CSS   
    # BODY
    # TYPOGRAPHY
    # LINKS

-------------------*/
/* BODY */
body {
  font-family: 'laca', Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.4; }

/* HEADINGS */
h1, h2, h3 {
  font-family: "laca-black", Helvetica, sans-serif;
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 3em;
  line-height: 1; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 38em; }

/* Horizontal Rule */
hr {
  border: 0;
  height: 1px;
  margin: 3em 0;
  background: rgba(0, 0, 0, 0.1);
}

/* TYPE SPECIMENT */
.mainhead {
  font-size: 6em;
  color: red; }

.subhead {
  font-family: "laca", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.2; }

  /* BUTTONS */
  button {
    font-size: inherit; }
  
  button,
  a.button {
    display: inline-block;
    background-color: #036;
    border: 1px solid #036;
    color: #fff;
    padding: 0.75em 1em;
    border-radius: 0.3em;
    margin: 0.5em 0;
    border: none;
    cursor: pointer;
    line-height: 1em;
    text-decoration: none; 
  }
  
  button.alt,
  a.button.alt {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #036;
    color: #036; 
  }
  
  button:hover,
  a.button:hover {
    background-color: #003;
    color: #fff;
    border-color: #003;
    text-decoration: none; 
  }