/* ------------------

CSS TABLE OF CONTENTS

# GLOBAL CSS   
    # BODY
    # TYPOGRAPHY
    # LINKS

-------------------*/
/* BODY */
body {
  font-family: 'laca', Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.4; }

/* HEADINGS */
h1, h2, h3 {
  font-family: "laca-black", Helvetica, sans-serif;
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 3em;
  line-height: 1; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em; }

/* TYPE SPECIMENT */
.mainhead {
  font-size: 6em;
  color: #c6538c; }

.subhead {
  font-family: "laca", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.2; }

/* BUTTONS */
button {
  font-size: inherit; }

button,
a.button {
  display: inline-block;
  background-color: #036;
  border: 1px solid #036;
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 0.3em;
  margin: 0.5em 0;
  border: none;
  cursor: pointer;
  line-height: 1em;
  text-decoration: none; }

button.alt,
a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #036;
  color: #036; }

button:hover,
a.button:hover {
  background-color: #003;
  color: #fff;
  border-color: #003;
  text-decoration: none; }

/* MEDIA  */
/* Responsive Images */
img {
  max-width: 100%;
  height: auto; }

/* LAYOUT */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
  #MEDIA QUERIES (Mobile First)
      #DEFAULT+ (Mobile First - Default Settings in the CSS Above)
      #SMALL- (Mobile Only Overrides) - max-width: 767px
      #MEDIUM+ (Tablet) - min-width: 768px
      #LARGE+ (Desktop) - min-width: 1050px
      #EXTRALARGE+ (Desktop+) - min-width: 1250px  */
/* SMALL+ (Mobile First Defaults) */
body {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 4%; }

/* SMALL ONLY (e.g. for mobile overrides) */
@media (max-width: 767px) {
  /* SMALL BODY TYPE ON SMALL SCREEENS ONLY */
  body {
    font-size: 88.75%;
    /* 14px; */ } }

/* #MEDIUM+ */
/* #LARGE+  */
@media (min-width: 1050px) {
  /* FIXED WIDTH CONTAINER AT MEDIUM SIZE FOR LARGE SCREENS */
  .container {
    width: 1000px;
    padding: 0 50px; } }

/* #EXTRA-LARGE+ */
@media (min-width: 1250px) {
  /* EXTRA-LARGE BODY TYPE ON EXTRA-LARGE SCREEN */
  body {
    font-size: 112.5%;
    /* 18px; */ }
  /* FIXED WIDTH CONTAINER AT LARGER SIZE FOR EXTRA-LARGE SCREENS */
  .container {
    width: 1200px; } }

.row .column {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -ms-grid;
    display: grid; }
    .row .column {
      margin: 1%; } }

.row.demo {
  background: yellow; }
  .row.demo .column {
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    text-align: center; }
